#include "/home/quiv/.config/colours/jschx"

URxvt*depth: 24
!URxvt*geometry: 100x25
URxvt.internalBorder: 5

! -- scrollbar
URxvt.scrollstyle: plain
URxvt.scrollBar: false
URxvt*scrollTtyOuput: false
URxvt*scrollWidthBuffer: true
URxvt*scrollTtyKeypress: true

! -- login shell
URxvt*loginShell: false

! -- font
URxvt.font:xft:Tewi:pixelsize=11,\
	[codeset=JISX0208]xft:Kochi Gothic:pixelsize=10
URxvt.boldFont:xft:Tewi:pixelsize=11,\
	[codeset=JISX0208]xft:Kochi Gothic:pixelsize=10
URxvt.imFont:xft:Kochi Gothic:pixelsize=10:antialias=false

! -- perl
URxvt.perl-ext-common: matcher,keyboard-select,url-select,clipboard
URxvt.url-select.launcher: firefox
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.keysym.M-s: perl:keyboard-select:search
URxvt.clipboard.autocopy: true
URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste
URxvt.keysym.M-C-v: perl:clipboard:paste_escaped
URxvt.matcher.rend.0: Uline fg16
URxvt.matcher.button: 1

Xft.antialias:	1
Xft.autohint:	0
Xft.dpi:	96
Xft.hinting:	1
Xft.hintstyle:	hintfull
Xft.lcdfilter:	lcddefault
Xft.rgba:	rgb
